<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Movie Rentals</title>
<style>
@import
	url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap')
	;

body {
	padding: 25px;
	background-color: #181818;
	color: white;
	text-shadow: 3px 3px black;
	font-family: 'JetBrains Mono', monospace;
}

a:visited, a {
	text-decoration: none;
	color: orange;
	font-size: 1.3em;
}

a:hover {
	color: yellow;
	font-size: 1.4em;
}

td a, td a:visited {
	font-size: 1em;
}

td a:hover {
	font-size: 1.1em;
}
</style>
</head>
<body>
	<form>
		<table>
			<tr th:each="currentCustomer : ${customers}">
				<td th:text="${currentCustomer.fName}" />
				<td th:p>|</th:p>
				<td th:text="${currentCustomer.lName}" />
				<td th:p>|</th:p>
				<!-- currently displays the toString() -->
				<td th:text="${currentCustomer.gamesRented}" />
				<td th:p>|</th:p>
				<!-- currently displays the toString() -->
				<td th:text="${currentCustomer.moviesRented}" />
		</table>
	</form>
	<!-- Home -->
	<a href="../">Home</a>

</body>
</html>