<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>View movie rental dates</title>
<style>
@import
	url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap')
	;

body {
	padding: 25px;
	background-color: #181818;
	color: white;
	text-shadow: 3px 3px black;
	font-family: 'JetBrains Mono', monospace;
}

a:visited, a {
	text-decoration: none;
	color: orange;
	font-size: 1.3em;
}

a:hover {
	color: yellow;
	font-size: 1.4em;
}
</style>
</head>
<body>
	<form>
		<table>
			<tr th:each="currentMovie : ${movies}">
				<td th:text="${currentMovie.ID}" />
				<td th:text="${currentMovie.title}" />
				<td th:text="${currentMovie.rentalDate}" />
			</tr>
		</table>
		<a href="sortMovies">Sort List</a>
	</form>
	<!-- Home -->
	<a href="../">Home</a>
</body>
</html>